.bt{
    border: solid 0.3em  #F39C12;
    border-top-color: transparent;
    width: auto;
    -webkit-box-shadow: -13px 16px 5px 0px rgba(128,128,128,1);
-moz-box-shadow: -13px 16px 5px 0px rgba(128,128,128,1);
box-shadow: -13px 16px 5px 0px rgba(128,128,128,1);
}

.image{
    height: 7vh;
    border-right: 7vh solid transparent;
    border-bottom: 7vh solid #29F275;
    
    
}
.haut{
    height: 300px;
}
